.lab_css {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.content_header {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #666666; LINE-HEIGHT: 35px; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.side_content {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0066ff; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.smalltype {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.smalltype_white {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.legal {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Newsclips {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0066cc; LINE-HEIGHT: 18px; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
A:hover {
	
}
A:hover {
	
}
A:hover {
	
}
